/* Home Page */
/* .homepage-wrapper {

} */

.homepage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0px auto;
  padding: 24px 0px;
}

/* Team Page */
.teampage-container {
  background-color: #FDB927;
  height: 100vh;
}

.gameStatDisplay-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 24px 0px;
}

.gameStatDisplay-container .main-container, .gameStatDisplay-container .sub-container {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.gameStatDisplay-container .main-container .section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameStatDisplay-container .sub-container .section {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameStatDisplay-container .game-date, .gameStatDisplay-container .team-name {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

/* UI */
.team-icon {
  height: 100px;
  width: 100px;
  background-size: cover;
  margin: 24px;
}

.team-icon:hover {
  padding: 24px;
  margin: 0px;
}