/* Home Page */
.homepage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

/* Team Page */
.teampage-container {
  background-color: #FDB927;
}

.gameStatDisplay-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.gameStatDisplay-container .main-container, .gameStatDisplay-container .sub-container {
  display: flex;
  justify-content: center;
}

.gameStatDisplay-container .main-container .section {
  padding: 24px;
}

.gameStatDisplay-container .sub-container .section {
  padding: 8px;
}

.gameStatDisplay-container .game-date, .gameStatDisplay-container .team-name {
  display: flex;
  justify-content: center;
}

/* UI */
.team-icon {
  height: 100px;
  width: 100px;
  background-size: cover;
  margin: 24px;
}